body {
    margin: 0;
    overflow: hidden;
    position: relative;
}

.control {
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 5;
    width: 400px;
    min-height: 100px;
    background: #eee;
    border-bottom: 2px solid #004;
    color: #004;
    padding: 5px;
}